
@{
    ViewBag.Title = "ingresar";
}

<h2>ingresar</h2>

<div class="row" style="text-align:right">
    <a href="~/Autos/ingresarmarca" class="btn btn-primary">Insertar Marca</a>
</div><br />

<div class="row" style="text-align:right">
    <a href="~/Autos/ingresarmodelo" class="btn btn-primary">Insertar Modelo</a>
</div><br />

<div class="row" style="text-align:right">
    <a href="~/Autos/ingresarprecios" class="btn btn-primary">Insertar Precios</a>
</div>

